body {
    color: rgb(255, 0, 0);
    background: rgb(77, 103, 252);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 8px rgb(255, 0, 0);
    padding: 20px;
    font-size: 52px;
    color: rgb(255, 0, 0);
}  

section {
    background: rgb(77, 103, 252);
    padding-bottom: 88px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 20px;
}

h1{
    font-size: 50px;
}

p{
    font-size: 30px;
}